body {
    background-color: beige;
    color: black;
}


.gate {
    background-color: white;
    border: solid 1px black;
    float: left;
    width: 96px;
    height: 96px;
}

.gate_house {
    background-color: beige;
    border: solid 2px darkkhaki;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 392px;
    height: 100px;
}

.cpu {
    background-color: rosybrown;
    border: solid 2px gray;
    position: absolute;
    top: 100px;
    left: 2px;
    width: 392px;
    height: 200px;
}

.storage {
    background-color: lightsteelblue;
    border: solid 2px gray;
    position: absolute;
    top: 300px;
    left: 2px;
    width: 195px;
    height: 200px;
}

.cache {
    background-color: orangered;
    border: solid 2px gray;
    position: absolute;
    top: 300px;
    left: 198px;
    width: 196px;
    height: 200px;
}


.first {
    position: absolute;
    left: 10px;
    top:10px;
    height: 506px;
    width: 400px;
    background-color: darkseagreen;
}


.second {
    position: absolute;
    left: 450px;
    top:10px;
    height: 506px;
    width: 400px;
    background-color: lightgreen;
}


.third {
    position: absolute;
    left: 875px;
    top:10px;
    height: 506px;
    width: 400px;
    background-color: seagreen;
}

.step-button {
    position: absolute;
    left: 100px;
    top:550px;
    height: 70px;
    width: 200px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #3866A3;
    font-weight: bold;
    font-size: 30px;
    color: #36454F;
}

.import-export {
    position: absolute;
    left: 1000px;
    top:550px;
    height: 70px;
    width: 200px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #3866A3;
    font-weight: bold;
    font-size: 30px;
    color: #36454F;
}

#imp_exp_txt {
    background-color: lightblue;
}

#imp-exp-dialog-form {
    display: none;
}

.editor {
    position: absolute;
    left: 400px;
    top:550px;
    height: 100px;
    width: 400px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #3866A3;
    color: #36454F;
    background-color: #D6D6D6;
}

.editor input {
    position: absolute;
    top:50px;
    left: 25px;
    width: 350px;
}

.editor .what-is-edited {
    position: absolute;
    top:25px;
    left: 25px;
    width: 350px;
    background-color: #aaaaaa;
    color: black;
    text-align: center;
}

.dirn {
    text-align: center;
    padding-top: 5px;
}

.hookups {

}

.instruction-list {

}

.instruction-item {

}

.data-list {

}

.data-item {

}